<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>KZ4LC | {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if env == "prod" %}
        <!-- Cloudflare Web Analytics --><script defer 
            src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "49ef462b03a54d1f95efe447094a3f21"}'>
        </script><!-- End Cloudflare Web Analytics -->
    {% endif %}
</head>
<body>
    {% include "header.njk" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "footer.njk" %}
</body>
</html>