<header>
    <nav><h1 class="title"><a href="/index.html">KZ4LC</a></h1></nav>
    <h2 class="subtitle">An Amateur Radio Journal</h2>
    <nav>
      <ul>
        <li><a href="#acquisitions">Acquisitions</a></li>
        <li><a href="#adventures">Adventures</a></li>
        <li><a href="#projects">Projects</a></li>
      </ul>
    </nav>
  </header>