<header>
    <nav><h1 class="title"><a href="/index.html">KZ4LC</a></h1></nav>
    <h2 class="subtitle">An Amateur Radio Journal</h2>
    <nav>
      <ul>
        {% for tag in collections.tagList | sortAlphabetically %}
          <li>
            <a href="/tags/{{ tag | slug }}/">
              {{ tag | capitalize }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </header>